* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: "Poppins", sans-serif;
}
.spacing > *+*{
    margin: 1.2em 0;
}
img {
    max-width: 100%;
    display: block;
}
.container {
    max-width: 85%;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    color:var(--clr-text,#fff);
    background: var(--clr-bg,#444);
    padding: .5em 1.4em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: .3em;
    margin: .3em 0;
    transition: transform 230ms ease-in-out,
    opacity 250ms linear;
}
.btn:hover,
.btn:focus{
    transform: scale(1.1);
    opacity: .9;
}
.main-text{
    font-size: clamp(2.2em, 5vw, 3.2em); 
    line-height: 1;   
}
.head{
    text-align: center;
    padding: 18em 0;
    background-image: #111;
    color: #fff;
    @supports (background-blend-mode:multiply){
        background-image: url(img/shoe-3.png),
        radial-gradient(#444,#111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}