* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: "Poppins", sans-serif;
}

.spacing>*+* {
    margin: 1.2em 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

section {
    padding: 2em 0;
}

.btn {
    display: inline-block;
    color: var(--clr-text, #fff);
    background: var(--clr-bg, #444);
    padding: .5em 1.4em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: .3em;
    margin: .3em 0;
    transition: transform 230ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.main-text {
    font-size: clamp(2.2em, 5vw, 3.2em);
    line-height: 1;
}

.head {
    text-align: center;
    padding: 18em 0;
    background-image: #111;
    color: #fff;

    @supports (background-blend-mode:multiply) {
        background-image: url(img/shoe-3.png),
            radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.out-items {
    background: #eee;
}

.main-title {
    text-align: center;
    font-size: clamp(1.8em, 2.2vw, 2.8em);
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6em;
    margin-top: 2em;
}

.item {
    flex-basis: 18%;
    min-width: 10em;
    transform: scale(.95);
    transition: transform 250ms ease-in-out;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #444;

    &:hover,
    &:focus {
        transform: scale(1.1);

        .item-detail {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        background: #2193b0;
        padding: 85% 85% 0 0;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: -1;
    }
}

.item-detail {
    opacity: 0;
    transition: opacity 250ms linear;

    .price {
        display: block;
        font-size: 1.1em;
    }
}

.Our-products {

    & h2 {
        text-align: center;
        font-size: clamp(2em, 2.5vw, 3em);
        margin-bottom: 1.1em;
    }

    & .product {
        background: radial-gradient(var(--clr-inner, #444), var(--clr-outer, #111));
        padding: 2em;
        margin-bottom: 3.5em;
        border-radius: 1em;
        text-align: center;
    }

    & .product-img {
        margin: -5em 0 0 0;
        width: 100%;
    }

    & .product-detail {
        font-size: clamp(2em, 4.3vw, 5em);
        line-height: 1.1em;
        margin: .5em 0;
        color: #fff;
    }

    & .product-description {
        margin: 1.5em 0;
    }

    @media (min-width: 50em) {

        & .container {
            max-width: 65%;
            margin: 0 auto;
        }

        & .product-img {
            float: right;
            width: 70%;
            margin: -5em -5em 0 0;
        }

        & .product {
            margin-bottom: 9em;
            text-align: left;
        }

        & .red-shoe{
            .product-img{
                shape-outside: url(img/shoe-1.png);
                shape-margin: 1em;
            }
        }
        & .black-shoe{
            .product-img{
                shape-outside: url(img/shoe-3.png);
                shape-margin: 1em;
            }
        }
        & .whitemix-shoe{
            .product-img{
                float: left;
                shape-outside: url(img/shoe-2.png);
                shape-margin: 1em;
                margin: -3em 0 -5em 0;
            }
        }
    }
}
.red-shoe{
    --clr-inner:#faa700;
    --clr-outer:#e48d00;
    --clr-bg:#a1173c;
}
.whitemix-shoe{
    --clr-inner:#fce4b3;
    --clr-outer:#eac886;
    --clr-bg:#2f4858;
}
.red-shoe{
    --clr-inner:#6dd5ed;
    --clr-outer:#2193b0;
    --clr-bg:#008951;
}
